 root = true

# Set default charset
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Readme .md
[*.md]
trim_trailing_whitespace = false

# JavaScript files
[*.js]
indent_size = 2

# SCSS files
[*.scss]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# CSS files
[*.css]
indent_size = 2

# Docker Compose files
[docker-compose.yml]
indent_size = 4