[client]
user        = m_plus_c_user
password    = "e&8%20#cADF0"
database    = m_plus_c_database

[mysql]
user        = root
password    = "z1GE#IC4HUem1FvxEnFk"

[mysqld]
default_authentication_plugin = mysql_native_password
